<?xml version="1.0" encoding="UTF-8"?>
<Mod>
  <LobbyPosition>
    <X>-379.2202</X>
    <Y>42.15068</Y>
    <Z>-315.3177</Z>
  </LobbyPosition>
  <Maps>
    <Map>
      <Name>t1</Name>
      <Spawns>
        <Spawn>
          <Type>team</Type>
          <X>4.493989</X>
          <Y>41.10852</Y>
          <Z>-49.18875</Z>
        </Spawn>
      </Spawns>
    </Map>
    <Map>
      <Name>dm1</Name>
      <Spawns>
        <Spawn>
          <Type>1</Type>
          <X>-37.09671</X>
          <Y>53.15148</Y>
          <Z>18.43664</Z>
        </Spawn>
        <Spawn>
          <Type>1</Type>
          <X>80.66157</X>
          <Y>53.14996</Y>
          <Z>18.31064</Z>
        </Spawn>
      </Spawns>
    </Map>
    <Map>
      <Name>dm2</Name>
      <Spawns>
        <Spawn>
          <Type>s</Type>
          <X>-1205.871</X>
          <Y>41.10891</Y>
          <Z>-605.0621</Z>
        </Spawn>
        <Spawn>
          <Type>team</Type>
          <X>-1201.872</X>
          <Y>41.10924</Y>
          <Z>-604.5619</Z>
        </Spawn>
        <Spawn>
          <Type>team</Type>
          <X>-1208.274</X>
          <Y>41.10843</Y>
          <Z>-605.3439</Z>
        </Spawn>
      </Spawns>
    </Map>
  </Maps>
</Mod>
